# dependencies
/node_modules
/.npm-cache

# next.js
/.next
/out
/.netlify-upload-*
/.vercel

# production
/build

# testing
/coverage

# misc
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# env
.env
.env*.local

# editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local Netlify folder
.netlify
